<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head.ejs") %> 
<body>
    <%- include("./partials/nav.ejs") %> 
    

    <div class="about content">
        <h2>About Us</h2>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla, magni nostrum quasi molestiae quae iste voluptas? Numquam ullam cupiditate reiciendis! Est, dolor. Consequuntur beatae odio et sequi dolores modi exercitationem?</p>
    </div>

    <%- include("./partials/footer.ejs") %> 
</body>
</html>